.view-creator-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.creator-data-div {
  display: flex;
  width: 90%;
  gap: 50px;
  margin-top: 20px;
}

.creator-image {
  width: 300px;
  height: 500px;
  object-fit: cover;
  object-position: center center;
  border-style: solid;
  border-width: 1px;
  border-color: lightblue;
  border-radius: 10px;
}

.media-details {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.media-logo {
  width: 30px;
}

.creator-media-link {
  text-decoration: underline;
}